<%= form_with(model: agenda, local: true) do |form| %>
  <% if agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
      <% agenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomeempleado %>
    <%= form.text_field :nomeempleado %>
  </div>

  <div class="field">
    <%= form.label :emailempleado %>
    <%= form.text_field :emailempleado %>
  </div>

  <div class="field">
    <%= form.label :observacion %>
    <%= form.text_area :observacion %>
  </div>

  <div class="field">
    <%= form.label :agenda %>
    <%= form.date_select :agenda %>
  </div>

  <div class="field">
    <%= form.label :tiposervico %>
    <%= form.text_field :tiposervico %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
